.App {
  text-align: center;
}

.bookmarkDiv {
  display: flex;
  justify-content: center;
}

.bookmarkDiv input[type="submit"]{
  align-self: center;
  background-color: red;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-left: 10px;
  border-style: none;
  color: white;
}