.App {
  text-align: center;
}

.bookmarkDiv {
  display: flex;
  justify-content: center;
}

.bookmarkDiv input[type="submit"]{
  align-self: center;
  background-color: red;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-left: 10px;
  border-style: none;
  color: white;
}

.formField {
  display: grid;
  grid-template-columns: 5rem 15rem;
  justify-content: center;
}

.formField input[type="submit"]{
  grid-column: span 2;
}
.formField input[type="input"] {
  margin-bottom: 1rem;
}